@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');
.nav_bar{
    border: 1px solid green;
    display: flex;
    padding-top: 10px;
    justify-content: right;
    align-items: flex-end;
    height: 70px;
}
ul.nav_bar li {
    list-style: none;
}
ul.nav_bar li Link{
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #8A8888;
}
ul.nav_bar li Link:hover{
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;  
    color: #029834;
    border-bottom: 1px solid #029834;   

}
ul.nav_bar li a:visited{
    border-bottom: 1px solid #029834;   
}